{
    "pocket": {
        "<pocket_id>": {
            "email": "<email_1>",
            "access_token": "access_token_1>",
            "tags": [
                "<tag_id>",
                "<tag_id_2>"
            ]
        },
        "<pocket_id_2>": {
            "email": "<email_2>",
            "access_token": "access_token_2>",
            "tags": [
                "<tag_id>",
                "<tag_id_2>"
            ]
        }
    },
    "twitter": {
        "twitter_id_1": {
            "user_name": "<user_name_1>",
            "consumer_key": "<consumer_key_1>",
            "consumer_secret": "<consumer_secret_1>",
            "bearer_token": "<bearer_token_1>",
            "access_token": "<access_token_1>",
            "access_token_secret": "<access_token_secret_1>",
            "last_time_read": "<last_time_read_1>"
        },
        "<twitter_id_2>": {
            "user_name": "<user_name_2>",
            "consumer_key": "<consumer_key_2>",
            "consumer_secret": "<consumer_secret_2>",
            "bearer_token": "<bearer_token_2>",
            "access_token": "<access_token_2>",
            "access_token_secret": "<access_token_secret_2>",
            "last_time_read": "<last_time_read_2>"
        }
    },
    "telegram": {
        "<telegram_id_1>": {
            "chat_id": "<chat_id_1>"
        },
        "<telegram_id_2>": {
            "chat_id": "<chat_id_2>"
        }
    }
}